{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block conteudo %}

    <header class="py-5">
      <div class="container px-lg-5 pl-0 pr-0">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
          <div class="logo m-4 m-lg-5">
            <a class="navbar-brand">
              <h1 class="display-1 fw-bold">BLOG HJ</h1>
            </a>
          </div>
        </div>
      </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
      <div class="container px-lg-5">
        <!-- Page Features-->
        
        <div class="row gx-lg-5">
    
        {% for post in posts %}
          <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
              <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <div
                  class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"
                >
                </div>
                {% if post.image_post %}
                  <img class="img-thumbnail pb-5 " src="{{ post.image_post.url }}" alt="{{ post.title_post }}">
                {% endif %}
                <h2 class="fs-4 fw-bold">{{post.title_post}}</h2>
                <p class="mb-0">
                  {{post.summary_post|slice:':200'}}
                </p>
                <p>
                  <small class="text-muted">{{ post.date_post|naturalday }}
                    | {{ post.comentarios_set.count }}
                    | {{ post.category_post }}
                  </small>
                </p>
                <a class="btn btn-dark" href="{% url 'post_detail' post.id %}" role="button">Leia Mais »</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">{{ post.category_post }}</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">{{ post.title_post }}</a>
                </h3>
                <div class="mb-1 text-muted">{{ post.date_post }}</div>
                <p class="card-text mb-auto">{{ post.summary_post|slice:':180' }}</p>
                <a class="btn btn-primary" href="{% url 'post_detail' post.id %}" role="button">Leia Mais »</a>
              </div>
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ post.image_post.url }}" alt="{{ post.title_post }}" data-holder-rendered="true">
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="{{ post.image_post.url }}" alt="{{ post.title_post }}">
            </div>
          </div>
          
        {% endfor %}
        
        </div>
      </div>
    </section>
    <section class="pt-5">
      <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
          <div class="col-lg-6 col-xxl-12 mb-5">
            <div class="card bg-light border-0 h-100">
              <div class="jumbotron text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <h1 class="display-4">Sobre</h1>

                <hr class="my-4 "/>
                <p class="lead">
                    Esse blog foi desenvolvido em django para aprimorar conhecimentos básicos sobre a utilização desse template da linguagem Python. Foram utilizadas nesse site HTML, CSS e JavaScript. Ademais, fez-se necessário às libs ckeditor e stdimage para complementar as funcionalidades.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{% include 'parciais/_pagination.html' %}

{% endblock %}
