{% extends 'base.html' %}

{% block titulo %}{{ post.title_post|title }} | {% endblock %}

{% block conteudo %}

<div class="container justify-content-center">

    <div class="row">

        <div class="col-12 text-center">
            <div class="jumbotron bg-info mt-3 pt-1 pb-3">
                <h1 class="display-2 text-center">{{ post.title_post }}</h1>
            </div>
            <h2></h2>

            <p class="text-muted mt-4">
                <small>
                    {{ post.author_post }} | {{ post.date_post }} | {{ post.category_post }}
                </small>
            </p>
        </div>

        <div class="col-12 text-center">

            {% if post.image_post %}
            <img class="img-fluid pb-5 rounded mx-auto d-block" src="{{ post.image_post.url }}"
                alt="{{ post.title_post }} width=" width="500rem">
            {% endif %}

            <p>{{ post.content_post|safe }}</p>

        </div>
        <button class="btn btn-info text-center p-auto m-auto"><a class="text-white" href="{% url 'posts' %}" style="text-decoration:none;">Ver mais posts</a></button>

    {% if comentarios %}

        <div class="col-12">
            <h2 class="my-3">Comentários ({{ comentarios.count }})</h2>

            {% for comentario in comentarios %}
            <h5 class="mb-2 mt-5">{{ comentario.name }} disse:</h5>
            <small class="text-muted">{{ comentario.date_comment }}</small>
            <p class="mb-1">{{ comentario.comment }}</p>
            {% endfor %}

        </div>

    {% endif %}
        

        <div class="col-12 mb-5 pb-5 justify-content-center">
            <hr class="my-4">
            <h2 class="my-3 text-center mb-5">Deixe um comentário</h2>

            <form id="comment" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="name">Nome</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Nome">
                    </div>
                    <div class="form-group col-9">
                        <label for="comment">Comentário</label>
                        <textarea name="comment" class="form-control" id="comment" rows="3"  placeholder="Digite aqui o seu comentário"></textarea>
                    </div>
                </div>   
                <div class="form-row justify-content-end">          
                    <button type="submit" class="btn btn-info justify-content-end">Enviar Comentário</button>
                </div> 
                   
            </form>
        </div>

    </div>
</div>

{% include 'parciais/_messages.html' %}

{% endblock %}