<div class="jumbotron-fluid bg-info pt-1 pb-1">
    <h1 class="display-2 text-center">Contatos</h1>
</div>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5">
                <div>
                    <h2><a href="#" class="g" style="color: #0cb62e; text-decoration: none;">CHAMA-NOS PELO WHATSAPP <i
                                class="fa-brands fa-square-whatsapp fa-2xl stretched-link"
                                style="color: #0cb62e;"></i></a></h2>
                </div>
            </div>
            <div class="col-6 mt-5">
                <div>
                    <h2><a href="#" class="g" style="color: #d72714; text-decoration: none;">FAÇA-NOS UMA VISITA<i
                                class="fa-solid fa-location-dot fa-2xl stretched-link" style="color: #d72714;"
                                href="#"></i></a></h2>
                </div>
            </div>
            <div>
                <form>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-4">
                            <label for="inputName">Nome</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Nome">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="form-group col-4">
                            <label for="inputAssunto">Assunto</label>
                            <input type="text" class="form-control" id="inputAssunto" placeholder="Assunto">
                        </div>
                        <div class="form-group col-md-10">
                            <label for="mensagem">Comentário</label>
                            <textarea class="form-control" id="mensagem" rows="3"  placeholder="Mensagem"></textarea>
                        </div>
                    </div>   
                    <div class="form-row justify-content-end">          
                        <button type="submit" class="btn btn-info  justify-content-end">Enviar Comentário</button> 
                    </div>    
                </form>
            </div>
        </div>
    </div>
</section>