{% for post in latest_articles %}
   
<section class="page-section mb-4" id="#postPrincipal">
    <div class="jumbotron-fluid bg-info pt-1 pb-1">
        <h1 class="display-2 text-center">Novidade da semana</h1>
    </div>
    <div class="container">
        <div class="row">
            </div class="col-6">
                <div class="media mt-4">
                    <img class=" img-fluid rounded" src="{{ post.image_post.url }}" alt="Imagem de exemplo genérica" width="450rem">
                    <div class="media-body text-center">
                        <h1 class="display-3">{{post.title_post}}</h1>
                        <p>{{post.summary_post}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}