<footer class="bg-dark">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 ">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <span class="f font-weight-bold" style="color: #37bddf;">BLOG HJ | 2023</span>    
                </nav>
            </div>
            <div class="col-6">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
                    <a class="icon-link" href="#" style="color: #37bddf; text-decoration: none;">Retornar ao topo <i class="fa-solid fa-circle-up fa-xl" style="color: #37bddf;"></i></a>
                </nav>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>